<%= provide :title, t(".title") %>

<h1><%= t".header" %></h1>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <%= link_to "Rails Tutorial help page", Settings.links.rails_tutorial.help_page %>.
  To get help on this sample app, see the
  <em><%= link_to "Ruby on Rails Tutorial", Settings.links.rails_tutorial.book_page %></em> book.
</p>
